/* NavBar Section */
.navbar{
  grid-row: 1;
  position: sticky;
  margin: 0; 
  background-color: #B0C38D;
  list-style-type: none;
  font-family: "Acme", sans-serif;
  height: 100%;
  display: grid;
  grid-template-columns: 15% 75% 10%;
  align-items: center;
}

  .navbar li {
    display: inline-block;
    font-weight: bold;
    margin-right:10px
  }
  .profile-icon svg:hover {
    cursor: pointer;
  }

  .navleft{
    grid-column: 1;
    place-self: center;
}
  
.navsearch{
  grid-column: 2;
  place-self: center;
  padding-right: 10%;
}

  .navright{
      grid-column: 3;
      place-self: center;
  }

  .navleft label:hover{
    cursor: pointer;
  }


  .navsearch input{
    width: 400px;
    font-size: x-small;
    padding: 5px;
    margin-left: 5px;
  }
  .navsearch a{
    font-size: x-small;
    text-decoration: underline;
    padding-left: 10px;
  }
  .navsearch a:hover{
      cursor: pointer;
  }