.landingpage{
  display: grid;
  grid-row: 2;
  background: black;
}
.landingimage{
  height: 100%;
  width: 100%;
  opacity: 0.4;
  object-fit: cover;
}
.imgmsg{
  position: absolute;
  color: white;
  top: 50%;
  left: 10vw;
  width: 480px;
}
.imgmsg h1{
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
}
.imgmsg p{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.whyditl{
  height: 100vw;
  padding: 60px 0px;
}
.ditltitle{
  text-align: center;
}
.howditl{
  background-color: #F5F6F7;
  padding: 40px 0px;
}
.iconbar{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.how-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 20px;
  width: 200px;
}
.how-wrapper span{
  font-weight: 600;
}
.howicon{
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}
