.searchresults {
    grid-row: 2;
    /* border : 1px solid black; */
    display: grid;
    margin-top: 30px;
    grid-template-columns: 25% 45% 25%;
    grid-template-rows: 30px auto;
    grid-column-gap: 10px;
    background-color: #FAFAFA;
}
.resultsnotfound{
    grid-column: 2;
    display: none;
}
.results-count{
    grid-column: 2;
}

.result-card{
    display: grid;
    grid-column: 2;
    grid-template-columns: auto 40%;
    background-color: white;
    height: 284px;
}
.result-left{
    background-color: #FFFFFF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 7px 25px 0 rgba(0,0,0,.1);
    z-index: 1;
    display: grid;
    grid-template-columns: 25% auto;
    position: relative;
}
.result-detail-left{
    display: grid;
    padding: 30px;
}
.resultprofile{
    height: 80px;
    border-radius: 50%;
    place-self: center;
}
.stars-box{
    height: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.star{
    height: 20px;
}
.star-number{
    font-size: 14px;
    font-weight: 500;
    color: #FCAF17;
}
.result-new{
    font-size: 12px;
    background-color: #9277D9;
    color: white;
    height: 20px;
    place-self: center;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}
.result-name{
    font-size: 20px;
}
.result-button{
    background-color: #659AEB;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 15px;
    height: 40px;
}
.result-button:hover{
    cursor: pointer;
}
.result-detail-right{
    display: flex;
    flex-flow: column;
    padding: 20px;
}
.result-title{
    font-size: 24px;
    font-weight: 300;
}
.result-list{
    font-size: 12px;
}
.resulticon{
    height: 24px;
    width: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.result-right{
    background-color: #FEFEFE;
    box-shadow: 5px 7px 25px 0 rgba(0,0,0,.1);
    display: grid;
    grid-template-rows: 30px auto;
    padding: 20px;

}
.result-tabmenu{
    place-self: center;
    display: grid;
    grid-template-columns: auto auto auto;
}
.tab{
    font-size: 14px;
    margin-right: 20px;
    width: fit-content;
}
.tab:hover{
    cursor: pointer;
}
#tab-active{
    background-color: black;
    height: 2px;
    grid-column: 1;

    width: 33px;
}