.App {
  display: grid;
  grid-template-rows: 7% 93%;
  font-family: 'Lucida Sans';
  height: 100vh;
  
}

body{
  margin: 0;
  /* height: 100vh; */
  background-color: #FAFAFA;
  font-family: 'Lucida Sans';
}

