/* ---------- template ---------- */

.page {
    grid-row: 2;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 17% 66% 17%;
    grid-column-gap: 0px;
}

.page-slim {
    grid-row: 2;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-column-gap: 0px;
}

.stage-type-2 {
    grid-column : 2;
    display: grid;
    grid-template-columns: 34% 66%;
}

.stage-type-3 {
    grid-column: 2;
    display: grid;
    grid-template-columns: 66% 34%;
}

.stage-type-slim {
    grid-column: 2;
    display: grid;
    grid-template-columns: 40% 60%;
}

.stage-left {
    margin-right: 22px;
    grid-column: 1;
    display: flex;
    flex-direction: column;
}

.stage-right {
    grid-column: 2;
    display: flex;
    flex-direction: column;
}

.stage-type-2 h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 500;
}

.viewbox {
    box-shadow: 0 7px 25px 0 rgba(0,0,0,.1);
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 40px;
}

/* ---------- buttons ----------*/

.btn-wide {
    border-width: 1px;
    width: 100%;
    font-weight: 600;
    margin-bottom: 15px;
    height: 42px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.btn-navy {
    background-color: #23629F;
    color: #FFFFFF;
}

.btn-wht {
    background-color: #FFFFFF;
    border-color: #707070;
    color: #707070;
    border: 1px solid black;
}
.btn-red{
    background-color: #cb242b;
    color: #FFFFFF;
}

/* ---------- splash ----------*/

.splashgif {
    opacity: 50%;
    grid-column: 2;
    margin: auto;
    font-size: 100px;
    font-weight: bolder;
    color: #23629F;
    background-color: #707070;
    width: 5%;
}

/* ---------- spacers ---------- */

.spacer-shrt {
    width: 15px;
    margin-left: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    border-color: #23629F;
}

/* ---------- pictures ---------- */

.circle-pic{
    border-radius: 50%;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ---------- refs ---------- */

.ditl-a:link {
    text-decoration: none;
}

.ditl-a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.add-exp {
    height: 30px;
    margin-right: 20px;
    opacity: 75%;
}

/* ---------- text ---------- */

.largetext {
    font-size: large;
    font-weight: bold;
}

.largertext {
    font-size: larger;
}

.mediumtext {
    font-size: medium;
}

.smalltext {
    font-size: small;
}

.xsmalltext {
    font-size: x-small;
}

/* ---------- header ---------- */

.optionheader {
    box-shadow: none !important;
    display: flex;
    justify-content: space-between;
}

.exp-header {
    display:flex;
    justify-content: space-between;
}

/* ---------- header menu ---------- */

.displaymenu {
    display: flex;
}

.selectionindicator {
    border-color: #23629F;
}

.displaymenuitem {
    margin-left: 15px;
    font-size: small;
}

.menuoption {
    cursor: pointer;
}

/* ---------- side nav selection ---------- */

.sidenav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidenav-item {
    border-radius: 5px;
    display: block;
    font-weight: 300;
    margin-bottom: 2px;
    padding: 10px;
    color: #747575;
    cursor: pointer
}

.sidenav-current {
    background-color: #eeeeee;
    color: #333333;
}

/* ---------- special cases ---------- */

.visual {
    min-height: 100px;
}

.account-overview {
    padding-left: 30px;
    padding-top: 15px;
    row-gap: 20px;
}

.account-overview span {
    margin-top: 20px; 
    padding-left: 10px;
    padding-right: 80px;
    word-wrap: break-word;
}